<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
</head>
<body>
    <form id="formInicio" class="formInic">
        <label for="user">Mail de usuario: </label>
        <input id = "user" name="email" type="email" >
        <label for="pwd">Password: </label>
        <input id = "pwd" name= "password" type="password">
        <button type="submit" id="enviarCrear"> Enviar </button>
     </form>
</body>
<script src="./../js/createMain.js"></script>
<script src="./validations/validaciones.js"></script>
<script src="./helpers/peticiones.js"></script>

</html>