<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Fechas</title>
    <link rel="shortcut icon" href="https://placekitten.com/64/64">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./../css/fontFamily.css">
    <link rel="stylesheet" href="./../css/style.css">
</head>
<body>
    <header id="header">
        <div id="row-container">
            <div id="colum-container">
                <div id="header-container">
                    <div id="icon">
                        <img src="./../assets/miscellaneous.png" alt="">
                    </div>
                    <div id="eliminar-cuenta-container">
                        <div id="btn">
                            <button id="btn-eliminar-cuenta" data-id="" type="submit">Eliminar Cuenta</button>
                        </div>
                    </div>
                    <div id="nombre-user-container">
                    </div>
                    <div id="description">
                        <h4><span lang="zh-Hans">あなた落ちました</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="pather-container">
        <div id="mensaje-descripcion-btn">
        </div>
        <div id="row-container">
            <div id="colum-container">
                 <div id="form-container">
                    <div id="title-container">
                        <hr id="hr1">
                        <hr id="hr2">
                        <h3>Bienvenido a nuestra <span>App</span>.</h3>
                        <hr id="hr1">
                        <hr id="hr2">
                    </div>
                    <ul id="message-container">
                    </ul>
                    <form id="form" class="form">
                        <label for="fecha"><span>Fecha:</span></label>
                        <input type="date" id="fecha"  name="FechaDia" placeholder="Indica una fecha de feriado">
                        <label for="descripcion"><span>Descripcion:</span></label>
                        <textarea name="FechaDescripcion"  id="descripcion" placeholder="Escribe el porque es feriado..." cols="30" rows="5"></textarea>
                        <input type="hidden" id="hidden" data-id="">

                        <button id="enviar" data-editar="" data-id="" data-fecha="" data-descripcion="">
                            Enviar
                        </button>
                    </form>
                 </div>
                 <div class="estado-container">
                    <div id="row-container">
                        <div id="colum-container">
                            <h4><span id="estado-respuesta"></span></h4>
                        </div>
                    </div>
                 </div>
                 <div id="date-container">
                    <div id="row-container">
                        <div id="colum-container">
                            <div id="date">
                                <table>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Descripcion</th>
                                        <th>Acciones</th>
                                    </tr>
                                    <tr id="list-date">
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                 </div>
                    <template id="template">
                        <div id="row-container">
                            <div id="colum-container">
                                <div id="template-container">   
                                    <td>
                                        <span id="date-template">fecha</span>
                                    </td>
                                    <td>
                                        <span id="description-template">descripcion</span>
                                    </td>
                                    <!-- title="editar fecha" -->
                                    <td>
                                        <li id="btn-modificar">
                                            <button id="editar" data-btn="editar"><span class="material-symbols-outlined" id="edit" >
                                                edit
                                                </span></button>
                                            <button id="eliminar" data-btn="eliminar"><span id="elim" class="material-symbols-outlined">
                                                delete
                                                </span></button>
                                        </li>
                                    <td>  
                                </div>
                            </div>
                        </div>
                    </template>
                    <template id="message-template">
                        <div id="row-container">
                            <div id="colum-container">
                                <div id="message-container">
                                    <h5><span id="error-message">error de mensaje</span></h5>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template id="estado-template">
                        <div id="row-container">
                            <div id="colum-container">
                                <div id="estado-container">
                                    <h5><span id="estado-resp">estado 200 0 501</span></h5>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template id="nombre-usuario">
                        <div id="row-container">
                            <div id="colum-container">
                                <div id="nombre-container">
                                    <h4>Bienvenido: <span id="mostrar-nombre-usuario">Nombre user</span> !!</h5>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template id="template-descripcion-btn">
                        <div id="row-container">
                            <div id="colum-container">
                                <div id="descripcion-btn">
                                    <h6><span id="mostrar-descripcion-mensaje">descripcion btn</span></h6>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
    </section>
    <footer id="footer">
        <div id="colum-container">
            <div id="row-container">
                <div id="footer-container">                    
                    <div id="description">
                        <li><p>- Api realizada para un proyecto en la empresa de JPLions en el cual puse en practica todos mis conocimientos obtenidos en dicha empresa.</p></li>
                    </div>
                    <div id="dates">
                        <li><h4>- @JuanAsensio</h4></li>
                    </div>
                    <div id="logo">
                        <img src="./../assets/firma-con-boligrafo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="./errors/erroresCustom.js"></script>
<script src="./validations/validaciones.js"></script>
<script src="./../helpers/peticiones.js"></script>
<script src="./../js/main.js"></script>
<script src="./../js/inicioMain.js"></script>
<script src="./../helpers/helpers.js"></script>
</html>