<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="titulo">
    <hr>

    <h1>Bienvenido!!</h1>
    <hr>
    </div>
    <div class="contenedor">
    <section class="crud">
        <article class="forma">
            <h2 class="crud-titulo">Ingrese un Fecha</h2>
            <form class="crud-form" id="form">
                <label for="fecha">Fecha: <br>
                <input type="date" id="fecha" name="FechaDia" placeholder="Ingrese una fecha..." >
                </label>
                <label for="descripcion">Descripcion: <br>
                <input id="descripcion" type="text" name="FechaDescripcion" placeholder="Descripcion..." >
                </label>
                <input type="submit" class="enviar" id="enviar"  value="Enviar">
            </form>
        </article>
        <article>
            <h2>Ver Fechas</h2>
            <table class="crud-table" id="crud-table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                  
                </thead>
                <tbody id = 'cuerpo_tabla'>
                    <!-- <td class="fecha"></td>
                    <td class="descripcion"></td> -->

                </tbody>
            </table>
        </article>
    </section>
    </div>
    <script src="./js/main.js"></script>
</body>
 </html>

