<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./css/fontFamily.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <div id="row-container">
            <div id="colum-container">
                <div id="header-container">
                    Bienvenido a Iniciar Sesion
                </div>
            </div>
        </div>
    </header>
     <form id="formInicio" class="formInic">
        <label for="user">Mail de usuario: </label>
        <input id = "user" name="email" type="email" >
        <label for="pwd">Password: </label>
        <input id = "pwd" name= "password" type="password">
        <button type="submit" id="enviarInicio"> Enviar </button>
     </form>
     <div id="mensaje-container-inicio"></div>
     <a href="/createUser">Crear Cuenta</a>

     <template id="inicio-template-mensaje">
        <div id="row-container">
            <div id="colum-container">
                <div id="message-container">
                    <h5><span id="error-message-inicio">error de mensaje</span></h5>
                </div>
            </div>
        </div>
     </template>
</body>
<script src="./js/inicioMain.js"></script>
<script src="./js/main.js"></script>
<script src="./validations/InicioValidations.js"></script>
<script src="./helpers/peticiones.js"></script>
<script src="./errors/inicioErrors.js"></script>
<script src="./../errors/erroresCustom.js"></script>
<script src="./helpers/helpers.js"></script>
</html>